.footer {
    background-color: #24242C;
    padding: 7rem 0;
    border-top-right-radius: 70px;
    margin-top: 8rem;

    &--wrap {
        display: flex;

        @include media(max, 767) {
            align-items: center;
            flex-direction: column;
        }
    }

    &--logo {
        flex-basis: 100%;
        
        @include media(max, 767) {
            margin-bottom: 6rem;
        }

        img {
            max-width: 10rem;
        }
    }

    &--menu {
        width: 100%;

        @include media(max, 767) {
            margin-bottom: 6rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        li {
            @include media(max, 767) {
                text-align: center;
            }

            &:last-child {
                a {
                    margin-bottom: 0;
                }
            }
        }
    }

    .menu {
        &--title {
            font-weight: 600;
            color: var(--clr-text-light);
            margin-bottom: 4rem;
        }

        &-link {
            font-weight: 400;
            font-size: 1.5rem;
            margin-bottom: 2rem;
            color: hsl(240, 2%, 79%);
            padding-right: 0;

            @include media(min, 768) {
                text-align: left;
            }
        }
    }
}
