.section-features {
    padding: 10rem 0 0;

    @include media(min, 1440) {
        padding: 16rem 0 0;
    }

    h2,h3 {
        color: var(--clr-blue);
    }
}

.section-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 4rem;

    @include media(min, 769) {
        font-size: 4rem;
        margin-bottom: 6rem;
    }
}

.features {
    flex-basis: 50%;
    
    @include media(max, 768) {
        text-align: center;
    }

    &--wrap {
        display: flex;
        align-items: flex-start;
        gap: 8rem;
    }

    &--image {
        flex-basis: 50%;

        @include media(min, 1440) {
            flex-basis: 75%;
        }
    }
}

.features--wrap {
    &.ltr {
        flex-direction: column-reverse;

        @include media(min, 769) {
            flex-direction: row;

            .features--image {
                margin-right: -40px;
                margin-top: -10px;
            }
        }

        @include media(min, 1440) {
            .features--image {
                margin-right: -250px;
                margin-top: -100px;
            }
        }
    }
    
    &.rtl {
        flex-direction: column;

        @include media(min, 769) {
            flex-direction: row;

            .features--image {
                margin-left: -60px;
                margin-top: 0px;
            }
        }

        @include media(min, 1440) {
            .features--image {
                margin-left: -250px;
                margin-top: -140px;
            }
        }
    }
}

.feature {
    margin-bottom: 4rem;

    &--title {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.6;
        margin-bottom: 2rem;
    }

    &--desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.6;
    }
}